* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#layout {
  margin: 0 auto;

  background-color: #f5f5f7;
  gap: 12px;
}
.header {
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 24px;

  height: 44px;
}

.navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.jijiglogo {
  display: flex;
  justify-content: start;
  align-items: start;
}
.headerbichig {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate {
  display: flex;
  height: 52px;
  margin-top: 52px;
  justify-content: center;
  align-items: center;
}
.page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solongonheseg {
  background-image: url(./solongo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75px;
}
.thirdheseg {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.solongontext {
  font-size: 44px;
  font-weight: 700;
  color: #6e6e73;
}
.ehniineed {
  display: flex;
  gap: 16px;
}
.ehniineed img {
  width: 35px;
  height: 35px;
}
.huuhniizuragtaibichig {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.storesolongo {
  margin-left: 140px;
  font-size: 44px;
  font-weight: 700;
  background-image: linear-gradient(#0090f7, #ba62fc, #f2416b);
  color: transparent;
  background-clip: text;
}
.niilsenbichig {
  display: flex;
  column-gap: 32px;
  justify-content: start;
  align-items: start;
}
.need {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 140px;
}
.visit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 145px;
}
.maciphoneipad {
  display: flex;
  gap: 12px;
  margin-left: 140px;
  margin-top: 80px;
}
.pictures img {
  width: 120px;
  height: 78px;
}
.text {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #1d1d1f;
}

.rainbowtextlatest {
  display: flex;
  gap: 4px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 140px;
  margin-bottom: 24px;
}
.solongonlatest {
  background-image: linear-gradient(#0090f7, #ba62fc, #f2416b);
  color: transparent;
  background-clip: text;
}
.greytext {
  color: #6e6e73;
}
.doodbichig {
  display: flex;
  flex-direction: column;
  padding: 31px;
  gap: 9px;
}
.scrollfirst {
  display: flex;
  gap: 20px;
  height: 558px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-left: 140px;
  margin-right: 0px;
}
.ip16pro {
  background-image: url(./ip16pro.jpg);
  width: 480px;
  height: 500px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
}
#appleintelligence {
  display: flex;
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}

.gurvaljin {
  width: 6px;
  height: 9px;
  font-size: 8px;
}
#ip16probichig {
  font-size: 26px;
  font-weight: 700;
}
#ip16une {
  font-size: 18px;
  font-weight: 400;
}
.iwatchseries10 {
  background-image: url(./iwatch10.jpg);
  width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.doodbichig1 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 20px;
  gap: 9px;
}
.ipadmini {
  background-image: url(./ipadminiursdag.jpg);
  width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.macbookpro {
  background-image: url(./macbookpro.jpg);
  width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.ipadpro {
  background-image: url(./ipadpro.jpeg);
  width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
#ipadprobichig {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
#ipadproune {
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.airpods4 {
  background-image: url(./airpods4.jpeg);
  width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
#airpods4une {
  font-size: 18px;
  font-weight: 400;
}
.scrollsecond {
  gap: 20px;
  margin-left: 140px;
  display: flex;
  height: 558px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.customairpod {
  background-image: url(./customairpods.jpg);
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.custombichig {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  margin-left: 30px;
  font-size: 26px;
  font-weight: 700;
}
.airpodsmax {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 315px;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  scroll-snap-align: center;
  border-radius: 18px;
}
.airpodsmaxzurag {
  width: 230px;
  height: 230px;
}
.airpodsmaxbichig {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-right: 28px;
}
.ulaanharbichig {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.ulaanbichig {
  font-size: 12px;
  color: #b64400;
}
.harbichig {
  font-size: 18px;
  font-weight: 700;
  margin-right: 60px;
}
.price {
  margin-top: 82px;
  font-size: 14px;
  font-weight: 400;
}
.airpodspro2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 315px;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.airpodspro2bichig {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: 88px;
  gap: 32px;
}
.rainbowtextpersonal {
  display: flex;
  gap: 4px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 140px;
  margin-bottom: 24px;
}
.airpods4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 315px;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.airpods4bichig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
.ulaanharbichigairpods4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 28px;
  margin-top: 28px;
}
.ulaanbichig4 {
  font-size: 12px;
  color: #b64400;
}
.harbichig4 {
  font-size: 18px;
  font-weight: 700;
}
.price4 {
  margin-top: 52px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 28px;
}
.applepencilpro {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 315px;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.applepencilbichig {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 50px;
  margin-right: 28px;
}
.ulaanharbichigpencil {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.ulaanbichigpencil {
  font-size: 12px;
  color: #b64400;
}
.harbichigpencil {
  font-size: 18px;
  font-weight: 700;
}
.scrollthird {
  gap: 20px;
  margin-left: 140px;
  display: flex;
  height: 558px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.surprise {
  background-image: url(./surprise.jpg);
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.surprisebichig {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  margin-left: 30px;
  font-size: 26px;
  font-weight: 700;
}
.sharcase {
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: white;
}
.sharcaseniilsen {
  display: flex;
  flex-direction: column;
}
.sharcasezurag {
  background-image: url(./shar\ case.jpg);
  width: 230px;
  height: 230px;
  background-size: cover;
  background-position: center;
  margin-top: 71px;
  margin-left: 41.5px;
}
.sharcaselist {
  background-image: url(./List\ -\ iPhone\ 16\ Silicone\ Case\ with\ MagSafe\ –\ Star\ FruitAvailable\ colors.png);
  width: 253px;
  height: 58px;
  margin-left: 30px;
}
